<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated zoomIn" src="images/bc_ledger.png" />
    </div>
  </div>
      
  <!-- section content -->
  <div class="col-md-8">

    <div class="bs-callout bs-callout-danger">
      <h4>The blockchain is a <b> shared, public ledger.</b></h4>
      <p>It provides a record of all <b>confirmed</b> Bitcoin transactions, ever.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>How is it <b>shared</b>?</h4>
      <p><b>Everyone</b> and <b>anyone</b> with a wallet uses the blockchain to calculate their own balance.</p>
      <p>When you connect to the Bitcoin network, your client uses the blockchain to calculate how much BTC you can spend.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>How is it <b>public</b>?</h4>
      <p><b>Anyone</b> can view (or download!) the blockchain. Typically, one views transactions through a web service, such as:</p>
      <p class="highlight"><a href="https://blockchain.info">blockchain.info</a></p>
    </div>
    
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated zoomIn" src="images/lock.png" />
    </div>
  </div>
      
  <!-- section content -->
  <div class="col-md-8">

    <div class="bs-callout bs-callout-danger">
      <h4>How is the blockchain <b>secure</b>?</h4>
      <p>It uses cryptography to ensure that illegitimate transactions cannot be <b>added</b>, and old transactions cannot be <b>modified</b>.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>Each block depends on previous blocks, enforcing <b>integrity</b>.</h4>
      <p>When a block in the chain is created, it stores a piece of the previous block.</p>
	  <p>So modifying an old block becomes near impossible as you would need to change every following block till the current one.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>Only valid transactions can be <b>confirmed</b>.</h4>
      <p>Once a block of transactions has been created, it is the job of the <b>miner</b> to confirm them, and add them to the blockchain.</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="3" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>TODO.</h4>
      <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>