<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-primary">
      <h4><b>Summary</b></h4>
      <p>
        <ul>
          <li><b>Wallets</b> - how to create them and what they hold.</li>
          <li><b>Transactions</b> - how bitcoins are transferred.</li>
          <li><b>Blockchain</b> - what it consists of, and how things get added.</li>
          <li><b>Mining</b> - how bitcoins are created.</li>
          <li><b>Usage</b> - real world applications of Bitcoin.</li>
        </ul>
      </p>
    </div>
  
    <div class="bs-callout bs-callout-danger">
      <h4>Authors</h4>
      <p>Colin Tinney & Cameron Ogden.</p>
     <p class='highlight'>We hope you understood everything.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>References</h4>
     <p>
      <ul>
        <li><b>bitcoin.org</b> - https://bitcoin.org/en/resources, https://bitcoin.org/en/developer-documentation</li>
        <li><b>Bitcoin QR Code Generator</b> - http://bitcoinqrcode.org/</li>
        <li><b>CoinDesk</b> - http://www.coindesk.com/information/how-do-bitcoin-transactions-work/, http://www.coindesk.com/information/how-bitcoin-mining-works/</li>
        <li><b>Blockchain</b> - https://blockchain.info/wallet/bitcoin-faq</li>
        <li><b>bitcoinmining.com</b> - https://www.bitcoinmining.com/</li>
        <li>SpendBitcoins</b> - http://spendbitcoins.com/places/</li>
      </ul>     
     </p>
    </div>
  
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>