<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Colin Tinney</h4>
      <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>Cameron Ogden</h4>
     <p class='highlight'>is hoping you understood it all</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>References</h4>
     <p>
      <ul>
        <li><b>bitcoin.org</b> - https://bitcoin.org/en/resources, https://bitcoin.org/en/developer-documentation</li>
        <li><b>Bitcoin QR Code Generator</b> - http://bitcoinqrcode.org/</li>
        <li><b>CoinDesk</b> - http://www.coindesk.com/information/how-do-bitcoin-transactions-work/, http://www.coindesk.com/information/how-bitcoin-mining-works/</li>
        <li><b>Blockchain</b> - https://blockchain.info/wallet/bitcoin-faq</li>
        <li><b>bitcoinmining.com</b> - https://www.bitcoinmining.com/</li>
        <li>SpendBitcoins</b> - http://spendbitcoins.com/places/</li>
      </ul>     
     </p>
    </div>
  
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>