<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated fadeInUpBig" src="images/bc_centralized-banking.png"/>
    </div>
  </div>
        
  <!-- section content -->
  <div class="col-md-8">
  
    <h3><b>Motivation</b></h3>
    
    <div class="bs-callout bs-callout-danger">
      <h4> Problem </h4>
      Some people dislike the current system of <b>centralized</b> banking, where transactions are handled by a party (i.e. company) that you are forced to trust.
    </div>
    
    <div class="bs-callout bs-callout-success">
      <h4> Solution </h4>
      Why not create a <b>decentralized</b> payment system where <b>no single party</b> holds all the value?
    </div>
    
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated fadeInUpBig" src="images/bc_decentralized.png"/>
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <h3><b>Bitcoin</b> or <b>BTC</b></h3>
    
    <div class="bs-callout bs-callout-primary">
      <h4>Peer-to-peer</h4>
        Bitcoin uses a <b>distributed</b> network of clients (i.e. users) to manage transactions.
    </div>
    
    <div class="bs-callout bs-callout-warning">
      <h4>Cryptocurrency</h4>
        It is a <b>digital</b> currency ("internet cash") that uses <b>cryptography</b> to ensure security, rather than trust in a bank.
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
    
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>