<div class="jumbotron animated zoomIn">
  <h1>Welcome to the greatest Bitcoin tutorial...</h1>
  <p>
    ...in the world.
  </p>
  <a class="btn btn-primary btn-lg" href="#section/<%= initialSectionId %>" role="button">Get started</a>
</div>