<div class="col-md-8 col-md-offset-2 jumbotron box-shadow--2dp animated zoomIn">

  <h1>Welcome to our <img src="images/bc_logotype.png" style="width: 225px" /> tutorial...</h1>
  
  <p>
    ...where you'll learn about bitcoins, how to spend them, and how they're created.
  </p>

  
  <a id="get-started" class="btn btn-warning btn-lg" href="#section/<%= initialSectionId %>" role="button">
    Get started now.
  </a>
  
</div>

<script type="text/javascript">

  $(document).ready(function() {
    animationHover('#get-started', 'pulse infinite');
  });

  function animationHover(element, animation){
  
      element = $(element);
      element.hover(
          function() {
              element.addClass('animated ' + animation);        
              //wait for animation to finish before removing classes
              window.setTimeout( function(){
                  element.removeClass('animated ' + animation);
              }, 2000);         
    
          });
          
  }

</script>