<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated shake" src="images/bc_mining.png" />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>When a block needs to be confirmed, "miners" must generate a <b>hash</b>.</h4>
      <p>The transactions of the new block are <b>combined</b> with the hash of the last block.</p>
      <p>This is provided as <b>input</b> to a hash function to create a <b>new</b> hash.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>Mining is <b>hard</b>.</h4>
     <p>Not just <b>any</b> hash is required. The Bitcoin network requires hashes that start with a certain number of zeros.</p>
     <p class="highlight">e.g. 000000000000081cd02ab7e569e8bcd9317e2fe99f2de44d....</p>
     <p>Remember - the output of the hash function cannot be predicted. So, miners must calculate <b>many</b> hashes before they find the right one.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>Since each hash <b>depends</b> on all previous hashes, they cannot be modified.</h4>
     <p>If someone tries to <b>change</b> the transactions within a block, the hash will change, and so will all <b>future</b> hashes.</p>
     <p>Anyone can verify the hash. It will be recognized as <b>fake</b>, and rejected.</p>
    </div>
  
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated tada" src="images/bc_reward.png" />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Miners <b>compete</b> with each other to finish a block.</h4>
      <p>In other words, they all attempt to successfully create a hash.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>Whoever discovers the hash first is <b>rewarded</b> with bitcoins.</h4>
     <p>Currently, they are paid <b>25</b> bitcoins. This value will halve every 210,000 blocks that are finished.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4><b>Specialized</b> hardware is used to increase the speed of finding hashes.</h4>
     <p>Miners use different types of computer hardware in order to perform calculations more <b>efficiently</b>.</p>
     <p class="highlight">e.g. GPU (Graphics Processing Unit), FPGA (Field Programmable Gate Array), or ASIC (application-specific integrated circuit)</p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="3" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img src="images/bc_mining.png" />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Mining is what makes Bitcoin <b>decentralized</b>.</h4>
      <p>Since transaction processing is done by many, <b>independent</b> individuals, the network remains neutral.</p>
      <p>No <b>single</b> individual has control over Bitcoin.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>How does someone <b>start</b> mining?</h4>
     <p>People either mine alone or as part of a group, known as a <b>pool</b>.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>Who found the hash for the <b>very</b> first block?</h4>
     <p>The creator of Bitcoin, Satoshi Nakamoto. The only transaction recorded was a payment of 50 new bitcoins to the creator.</p>
     <p class="highlight">This is the only hash that does not depend on a previous block!</p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>