<div class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img />
    </div>
  </div>
        
  <!-- section content -->
  <div class="col-md-8">
    
    <!-- page navigation -->
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>