<div class="masthead">
  <h3 class="text-muted">HowToBTC</h3>
  <nav>
    <ul class="nav nav-justified">
      <li class="active"><a href="#">Section 1</a></li>
      <li><a href="#">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
      <li><a href="#">Section 5</a></li>
      <li><a href="#">Section 6</a></li>
    </ul>
  </nav>
</div>

<div class="section">
</div>

<footer class="footer">
  <p>&copy; Colin Tinney & Cameron Ogden</p>
</footer>