<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>
    </div>
  </div>

  <!-- section content -->
    <div class="col-md-8">
    <div class="bs-callout bs-callout-danger">
      <h4>A <b>transaction</b> is a transfer of bitcoins.</h4>
	  <p>Any transfer, regardless of who it's to or coming from, is a transaction.</p>
    </div>
	
	<div class="bs-callout bs-callout-success">
      <h4>All transactions are subject to verification</h4>
	  <p>To prevent any unlawful or forged transactions, all transactions need to be verified.</p>
	  <p>This verification is done by Bitcoin users called <b>miners</b>.</p>
    </div>
    
	<div class="bs-callout bs-callout-warning">
      <h4>Transactions have 3 main parts</h4>
	  <p>These parts are: the input, the amount, and the output.</p>
    </div>
	
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>
    </div>
  </div>
  
  <!-- section content -->
  <div class="col-md-8">
    <div class="bs-callout bs-callout-danger">
      <h4>The <b>Input</b></h4>
	  <p>This is the record of the bitcoins that are being transferred.</p>
	  <p>This record tracks every transaction that bitcoin have been a part of since it's creation.</p>
    </div>
	
	<div class="bs-callout bs-callout-success">
      <h4>The amount being transferred</h4>
	  <p>The most frequent denominations for bitcoin are:</p>
	  <p class="highlight">milli-bitcoin(mBTC), 0.001 of a Bitcoin</p>
	  <p class="highlight">micro-bitcoin(μBTC), 0.000001 of a Bitcoin</p>
	  <p class="highlight">satoshi(sat.), 0.00000001 of a Bitcoin</p>
    </div>
	
	<div class="bs-callout bs-callout-warning">
      <h4>The <b>Output</b></h4>
	  <p>This is the public address of the wallet that the bitcoins are being transferred to.</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="3" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>
    </div>
  </div>
  
  <!-- section content -->
  <div class="col-md-8">
    <div class="bs-callout bs-callout-danger">
      <h4>need a good way to tie in blockchain here, but i dont understand blockchain enough</h4>
	  <p>TODO</p>
    </div>
	
	<div class="bs-callout bs-callout-success">
      <h4>TODO</h4>
	  <p>TODO</p>
    </div>
	
	<div class="bs-callout bs-callout-warning">
      <h4>TODO</h4>
	  <p>TODO</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>