<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img />
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>A <b>transaction</b> is a transfer of bitcoins from one wallet to another.</h4>
      <p>It consists of 3 components: <i>input</i>, <i>amount</i>, and <i>output</i>.</p>
    </div>
    
    <div class="bs-callout bs-callout-primary">
      <img src="images/bc_transfer.png" style="width: 100%" class="animated zoomIn" />
    </div>
	
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
       <img class="animated fadeIn" src="images/transaction.png"/>
    </div>
  </div>
  
  <!-- section content -->
  <div class="col-md-8">
    
    <div class="bs-callout bs-callout-danger">
      <h4><b>Input</b></h4>
      <p>This is the <b>public</b> address of the sending wallet.</p>
      <p class="highlight">Rememeber - the wallet is essentially just a record of all transactions it has been involved in. So, your wallet must have received the number of bitcoins you are trying to send (or more).</p>
    </div>
	
    <div class="bs-callout bs-callout-success">
      <h4><b>Amount</b></h4>
      <p>The <b>number</b> of bitcoins to be transferred. Since 1 BTC is quite expensive, you can send/receive fractions of a bitcoin.</p>
      <p>The most frequent denominations are:</p>
      
      <div class="highlight">
        <div class="row">
          <div class="col-md-2">milli-bitcoin (mBTC)</div>     
          <div class="col-md-2">0.001 BTC</div>     
        </div>
        
        <div class="row">
          <div class="col-md-2">micro-bitcoin(μBTC)</div>     
          <div class="col-md-2">0.000001 BTC)</div>     
        </div>
        
        <div class="row">
          <div class="col-md-2">satoshi(sat.)</div>     
          <div class="col-md-2">0.00000001 BTC)</div>     
        </div>
      </div>
      
    </div>
	
    <div class="bs-callout bs-callout-warning">
      <h4><b>Output</b></h4>
      <p>This is the <b>public</b> address of the receiving wallet.</p>
      <p class="highlight">In other words, this transaction will be added to the record of the wallet.</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="3" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img src="images/transaction.png"/>
    </div>
  </div>
  
  <!-- section content -->
  <div class="col-md-8">
	
    <div class="bs-callout bs-callout-success">
      <h4>Can I still <b>receive</b> a transaction if my Bitcoin software isn't running?</h4>
      <p>Yes - your transaction only needs to be <b>verified</b> by other Bitcoin users. After that happens, you can claim them at any time.</p>
    </div>
  
    <div class="bs-callout bs-callout-danger">
      <h4>All transactions are subject to <b>verification</b>.</h4>
      <p>To prevent any <b>unlawful</b> or <b>forged</b> transactions, they must all be verified.</p>
    </div>
    
    <div class="bs-callout bs-callout-warning">
      <h4>Once a transaction is verified, it is added to something called the <b>blockchain</b>.</h4>
      <p>It provides a record of all <b>confirmed</b> (i.e. verified) Bitcoin transactions, ever.</p>
    </div>
	
    <div class="row">
    
      <div class="col-md-1">
        <a class="btn-prev btn btn-default btn-lg">
          <span class="glyphicon glyphicon-chevron-left"></span> 
        </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
    
  </div>
  
  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>