<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>TODO.</h4>
      <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-danger">
      <h4>TODO.</h4>
      <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>TODO.</h4>
     <p>TODO</p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>