<div id="1" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated tada" src="images/bc_accepted.png" />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-primary">
      <h4>So... Bitcoin seems cool and all, but who actually <b>uses</b> it?</h4>
      <p>A lot of people! Over <b>five billion</b> dollars worth of BTCs are in circulation.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
     <h4>Here are some <b>examples</b>:</h4>
     <p>
        <ul>
          <li>Individuals (e.g. transferring money for personal things)</li>
          <li>Physical businesses (e.g. restaurants, retail stores, law firms)</li>
          <li>Online services/retailers (e.g. reddit, Amazon, eBay)</li>
          <li>...and many more!</li>
        </ul>
      </p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
     <h4>OK. So, how do I actually <b>buy</b> bitcoins?</h4>
     <p>
        <ul>
          <li>Payment for some good or service you provided</li>
          <li>Purchase them through an online exchange</li>
          <li>Buy them from someone near you, in cash (e.g. <a href="https://localbitcoins.com">localbitcoins</a>)</li>
          <li>Buy them from a local company (e.g. <a href="https://www.canadianbitcoins.com/">canadianbitcoins</a>, in Ottawa!)</li>
          <li>Buy them from a Bitcoin ATM (we have these in Ottawa, too)</li>
          <li>Earn them through mining</li>
        </ul>
      </p>
    </div>
  
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="2" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img class="animated swing" src="images/scale.png" />    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-success">
      <h4>What exactly are the <b>advantages</b> of using Bitcoin?</h4>
      <p>
        <ul>
          <li><b>Freedom</b> - You can send and receive them from anywhere in the world, at any time.</li>
          <li><b>Transparency</b> - You always know where your money is.</li>
          <li><b>Neutral</b> - No one can control the Bitcoin network, because it is cryptographically secure.</li>
          <li><b>Security</b> - Only you control your transactions, and no personal information is attached to them. Furthermore, you can protect your wallet via backup and encryption.</li>
        </ul>
      </p>
    </div>
  
    <div class="bs-callout bs-callout-danger">
      <h4>Surely there must be some <b>disadvantages</b>, too.</h4>
      <p>
        <ul>
          <li><b>Acceptance</b> - You can use your VISA everywhere. Bitcoin... not so much.</li>
          <li><b>Volatility</b> - The value of BTC comes only from people who are willing to accept it, unlike a physical currency backed by gold. This means that the price could rise or drop dramatically, like a stock.</li>
          <li><b>Insurance</b> - Since Bitcoin is relatively new, businesses that offer it don't likely have insurance against it. If someone steals your bitcoins from their exchange, for example, you might be out of luck.</li>
        </ul>
      </p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>

<div hidden id="3" class="row section-page animated fadeIn">

  <!-- left side image -->
  <div class="col-md-2">
    <div id="leftImg" class="imgContainer">
      <img/>    
    </div>
  </div>

  <!-- section content -->
  <div class="col-md-8">
  
    <div class="bs-callout bs-callout-success">
      <h4>Armed with this knowledge, it's time for you to <b>join</b> Bitcoin!</h4>
      <p><b>Choose</b> your Bitcoin client (and wallet) by clicking <a href="https://www.bitcoin.com/choose-your-wallet">here.</a></p>
      <p class="highlight">There are options available for mobile, desktop, and the web.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>Remember to <b>secure</b> your wallet.</h4>
      <p>Your money is only as <b>safe</b> as your wallet is.</p>
      <p class="highlight">Make regular backups (i.e. copies), encrypt it, store it on physical devices like CDs or USBs, etc. Read more about securing your wallet <a href="https://bitcoin.org/en/secure-your-wallet">here.</a></p>
    </div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-ok"></span> 
        </a>
      </div>
      
    </div>
  </div>

  <!-- right side image -->
  <div class="col-md-2">
    <div id="rightImg" class="imgContainer">
      <img/>
    </div>
  </div>
    
</div>