<div id="1" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      Bitcoins are stored in a <b>wallet</b>.
    </div>
    
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>