<div id="1" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Bitcoins are stored in a <b>wallet</b> - this is a <b>file</b> that exists on your computer.</h4>
      <p>If you lose your wallet, you lose your Bitcoins - keep it safe!</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>Every wallet has one or more unique, public <b>addresses</b>.</h4>
      <p>Think of these like e-mail addresses.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>Bitcoins are <b>sent</b> and <b>received</b> using these addresses...</h4>
      <p>...which look like this: <b>1GKtwBQjhmLAk3T5EknXE6KNkorSUaAye6</b></p>
    </div>
    
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>

<div hidden id="2" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Your wallet is made secure using a <b>private key</b>.</h4>
        <p>Each private key is created using an <b>Elliptic Curve Digital Signature Algorithm</b> (ECDSA) which gives you a random number, between 0 and...</p>
        <p class="highlight">115792089237316195423570985008687907853269984665640564039457584007913129639936</p>
        <p>This number is <b>really, really</b> big, and hard to guess.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>Your public address is <b>generated</b> using your private key, in two steps.</h4>
      <p>1. A <b>public key</b> is created by using ECDSA again with your private key as input.
      <p>2. The public key is <b>mapped</b> to a  unique public address using a <b>hash function</b>.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4><b>How</b> is this secure?</h4>
      <p>Your private key is what gives you <b>control</b> of your wallet (and your Bitcoins).</p>
      <p>The math behind ECDSA ensures that <b>no one</b> can figure out your private key from your public address.</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>

<div hidden id="3" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      <h4>TODO</h4>
      <p>TODO</p>
	</div>
  
    <div class="bs-callout bs-callout-success">
     <h4>TODO</h4>
     <p>TODO</p>
	</div>
  
    <div class="bs-callout bs-callout-warning">
	 <h4>TODO</h4>
     <p>TODO</p>
	</div>
  
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>