<div id="1" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      <h4>Bitcoins are stored in a <b>wallet</b> - this is a <b>file</b> that exists on your computer.</h4>
      <p>If you lose your wallet, you lose your Bitcoins - keep it safe!</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>Every wallet has one or more unique, public <b>addresses</b>.</h4>
      <p>Think of these like e-mail addresses.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>Bitcoins are <b>sent</b> and <b>received</b> using these addresses...</h4>
      <p>...which look like this: <b>1GKtwBQjhmLAk3T5EknXE6KNkorSUaAye6</b></p>
    </div>
    
    <div class="row">
      
      <div class="col-md-1 col-md-offset-11">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>

<div hidden id="2" class="animated fadeIn section-page">
  
    <div class="bs-callout bs-callout-danger">
      <h4>TODO</b>.</h4>
      <p>TODO.</p>
    </div>
  
    <div class="bs-callout bs-callout-success">
      <h4>TODO</b>.</h4>
      <p>TODO.</p>
    </div>
  
    <div class="bs-callout bs-callout-warning">
      <h4>TODO</b>.</h4>
      <p>TODO.</p>
    </div>
    
    <div class="row">
    
      <div class="col-md-1">
      <a class="btn-prev btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> 
      </a>
      </div>
      
      <div class="col-md-1 col-md-offset-10">
        <a class="btn-next btn btn-success btn-lg">
          <span class="glyphicon glyphicon-chevron-right"></span> 
        </a>
      </div>
      
    </div>
    
</div>