/* body */
body {
  background-color: #f5f5f5;
}

/* projector CSS - uncomment to test */

/*
body {
  font-size: 200%;
}

h4 {
  font-size: 200%;
}
*/

/* page - next button */
div .next-button {
  background-color: #428bca;
}

.bs-callout-black > h4 {
  color: #333333;
}

.bs-callout > p {
  margin-top: 0.5em;
  margin-left: 2em;
  margin-bottom: 0px !important;
}

/* page - callout - highlighted text */
p.highlight, div.highlight {
  margin-left: 4em !important;
  font-style: italic;
}

div.highlight {
  margin-top: 0.5em;
}

/* page - callouts */
.bs-callout {
  font-size: 110%;
}

/* section - left and right image */
.imgContainer img {
  width: 192px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

/* navbar - home tab */
#home.active {
  background-color: #90caf9;
}

/* box shadows */
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

/* navbar text */
.navbar a {
  font-size: 115%;
}

/* navbar colors (generated) */
.navbar-default {
  background-color: #2196f3;
  border-color: #90caf9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #212121;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #212121;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2196f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #212121;
  background-color: #90caf9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2196f3;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #212121;
  background-color: #90caf9;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #212121;
  background-color: #90caf9;
}
.navbar-default .navbar-toggle {
  border-color: #90caf9;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #90caf9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #212121;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #212121;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #212121;
    background-color: #90caf9;
  }
}